
.hidden {
    display: none;
    z-index: -1;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F4F4F;
    overflow: auto;
    min-height: 100%;
    cursor: url('./assets/Sprites/cursor.png'), auto;
}

html {
    height: 100%;
    overflow: auto;
}


@font-face {
    font-family: 'DefaultFont';
    src: url('./assets/Fonts/DefaultFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.intro-background {
    width: 100%;
    height: 100%;
    background: #2F4F4F;
    display: flex !important; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0; 
}

.hidden {
    display: none !important;
}


.logo {
    position: absolute;
    background-image: url('./assets/Sprites/logo.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 362px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.twitchIcon {
    position: absolute;
    background-image: url('./assets/Sprites/twitchIcon.png');
    top: 95%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
}

.youtubeIcon {
    position: absolute;
    background-image: url('./assets/Sprites/youtubeIcon.png');
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
}

.gameLanguage {
    position: absolute;
    background-image: url('./assets/Sprites/ENG.png');
    top: 95%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
}

.gameTitle {
    position: absolute;
    background-image: url('./assets/Sprites/gameTitle.png');
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; 
}


/* Styling for the .endDay-vocab container */
.newGame-vocab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 32px;
    background-color: #a37e18;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
   transition: opacity 0.5s ease-in-out;
}

.newGame-text {
    color: rgb(116, 116, 116);
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.newGame-vocab:hover {
    background-color: #ffde4c;
}

.newGame-vocab:hover .newGame-text {
    color: white;
}

.element-flash {
    animation: flashAnimation 0.2s ease-in-out;
}

@keyframes flashAnimation {
    0% {
        background-color: var(--element-color-start);
    }
    50% {
        background-color: var(--element-color-mid);
    }
    100% {
        background-color: var(--element-color-start);
    }
}

.secondary-background {
    width: 358px;
    height: 720px;
    background: #5e5cb9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
}

.pause-background {
    width: 358px;
    height: 721px;
    background: #000000;
    opacity: 0.5;
    position: absolute;
    top: -55%;
    left: 0%;
    z-index: 1000;
    display: none;
    pointer-events: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.gameTime {
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    width: 100px;
    height: 60px;
    background-color: #2b2d42;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 20px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.dayCount-vocab {
    position: absolute;
    top: -54%;
    left: -1px;
    width: 100px;
    height: 60px;
    background-color: #2b2d42;
    color: rgb(0, 255, 191);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 20px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.goal-vocab {
    position: absolute;
    top: -54%;
    right: -1px;
    width: 100px;
    height: 60px;
    background-color: #2b2d42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.goal {
    color: gold;
    font-size: 24px;
    letter-spacing: 1px;
}

.points {
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.endDay-vocab {
    position: absolute;
    top: -50%;
    right: -1px;
    width: 100px;
    height: 32px;
    background-color: #a31829;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    opacity: 0.5;
    transition: opacity 0.3s ease, color 0.3s ease;
}


.endDay-text {
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}


.endDay-vocab:hover {
    opacity: 1.0;
}

.endDay-vocab:hover .endDay-text {
    color: gold;
}


.endayConfirmation-vocab {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background-color: #2b2d42;
    visibility: hidden;
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 2000;
    border: 1px solid black;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.endayConfirmation-yes {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 30px;
    background-color: #2b2d42;
    visibility: hidden;
    color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 2000;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.endayConfirmation-no {
    position: absolute;
    /* Fixed position relative to the viewport */
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    /* Ensures it's always centered */
    width: 80px;
    height: 30px;
    background-color: #2b2d42;
    visibility: hidden;
    /* Initially invisible but still occupies space */
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 2000;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.grid-item {
    width: 36px;
    height: 36px;
    background-color: #708090;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    /* ✅ Fix border issue */
    image-rendering: pixelated;
    z-index: 2;
}

/* Highlight selected item with a fading border */
.grid-item.selected {
    position: relative;
}

/* Create the fading border using a pseudo-element */
.grid-item.selected::before {
    content: '';
    /* Empty content for the pseudo-element */
    position: absolute;
    top: -1px;
    /* Add units (px) */
    left: -1px;
    /* Add units (px) */
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: transparent;
    animation: pieces-anim 500ms infinite alternate;
    /* Fade-in and out effect */
}

@keyframes pieces-anim {
    0% {
        border-color: #fc2600;
    }

    25% {
        border-color: #ffffff;
    }

    50% {
        border-color: #fc2600;
    }

    100% {
        border-color: #ffffff;
    }
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.2s ease-in-out;
}


.grid-container {
    display: grid;
    padding: 5px;
    /* Create a 5px gap around the grid */
    background-color: #2b2d42;
    /* Border fill color */
    border-radius: 5px;
    /* Optional: Adds rounded corners to the grid's border */
    border: 1px solid black;
    /* 1px black border around the grid container */
    margin-bottom: 15px;
    /* Adds space between grid and money display */
    grid-template-columns: repeat(8, 36px);
    grid-template-rows: repeat(8, 36px);
    gap: 4px;
    width: calc(8 * 36px + 7 * 4px);
    /* Width based on grid size + gaps */
    image-rendering: pixelated;
}

.grid-border-image {
    position: absolute;
    background-image: url('./assets/Sprites/border.png');
    bottom: 99.6%;
    left: 70%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: left;
    image-rendering: pixelated;
    z-index: 5;
}

.empty-border {
    position: absolute;
    background-image: url('./assets/Sprites/zuljaCoin.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    bottom: 99.6%;
    left: 5.5%;
    width: 36px;
    height: 42px;
    background-color: #6441a5;
    display: flex;
    justify-content: left;
    align-items: left;
    border: 1px solid black;
    border-radius: 5px 0 0 0;
    image-rendering: pixelated;
}


.shop-vocab {
    position: absolute;
    bottom: -34%;
    left: 35.5%;
    width: 100px;
    height: 30px;
    background-color: #2b2d42;
    color: #acd468;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 0;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    pointer-events: none;
    /* Disable pointer interactions */
    user-select: none;
    /* Disable text selection */
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
}

/* Shop Border Styles */
.shop-border {
    position: absolute;
    bottom: -25.1%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 100px;
    background-color: #6c584c;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid black;
}

/* Shop Grid Inside the Border */
.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 36px);
    grid-template-rows: repeat(2, 36px);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    width: 100%;
    height: auto;
}

/* Shop Item Styles */
.shop-item {
    width: 36px;
    height: 36px;
    background-color: #708090;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    /* ✅ Fix border issue */
    image-rendering: pixelated;
}

/* Highlight selected item with a fading border */
.shop-item.selected {
    position: relative;
}

/* Create the fading border using a pseudo-element */
.shop-item.selected::before {
    content: '';
    /* Empty content for the pseudo-element */
    position: absolute;
    top: -1px;
    /* Add units (px) */
    left: -1px;
    /* Add units (px) */
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: transparent;
    animation: pieces-anim 500ms infinite alternate;
    /* Fade-in and out effect */
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reroll-item {
    position: absolute;
    bottom: 85%;
    right: 5.5%;
    width: 34px;
    height: 67px;
    display: flex;
    image-rendering: pixelated;
    z-index: 1;
    /* Reduced z-index */
}

.money-border {
    position: absolute;
    bottom: 99.6%;
    left: 50%;
    transform: translateX(-61%);
    width: 200px;
    height: 42px;
    background-color: #333;
    border-radius: 0 5px 0 0;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 5;
    border: 1px solid black;
}

.buy-button {
    display: none;
    /* Start hidden by default */
    position: absolute;
    background-image: url('./assets/Sprites/buyButton.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 1px center;
    bottom: -5%;
    left: 71%;
    width: 26px;
    height: 26px;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    z-index: 1;
    image-rendering: pixelated;
    transition: opacity 0.3s ease-in-out;
    /* Smooth animation */
    opacity: 0;
    /* Start invisible */
}


.money-sprite {
    display: flex;
    height: 38px;
    overflow: hidden;
    image-rendering: pixelated;
}

.money-sprite span {
    display: inline-block;
    width: 22px;
    height: 38px;
    align-items: left;
    background-image: url('./assets/Sprites/money_numbers.png');
    background-repeat: no-repeat;
}


.tooltip-text {
    display: none;
    /* Start hidden by default */
    background-color: #2b2d42;
    background-image: url('./assets/Sprites/zuljaCoin.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: #acd468;
    text-align: right;
    padding: 5px;
    padding-left: 34px;
    border-radius: 10px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 10;
    border: 1px solid black;
    pointer-events: none;
    /* Disable pointer interactions */
    user-select: none;
    /* Disable text selection */
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
    transition: opacity 0.3s ease-in-out;
    /* Smooth animation */
    opacity: 0;
    /* Start invisible */
}

.tooltip-text.show {
    display: block;
    /* Show on click */
    opacity: 1;
    /* Make visible */
    user-select: none;
    /* Disable text selection */
}

.tooltip {
    position: absolute;
    background-color: #2b2d42;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 16px;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'DefaultFont';
    border: 1px solid black;
    pointer-events: none;
    /* Disable pointer interactions */
    user-select: none;
    /* Disable text selection */
    transform: translateX(-50%);
    top: -40px;
    /* Adjust based on positioning */
    left: 50%;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.tooltip.show {
    opacity: 1;
}

.books-border {
    position: absolute;
    bottom: -55.3%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    width: 152px;
    height: 45px;
    background-color: #2b2d42;
    color: #acd468;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 0;
    border: 1px solid black;
    pointer-events: none;
    /* Disable pointer interactions */
    user-select: none;
    /* Disable text selection */
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
}