.hidden {
    display: none;
    z-index: -1;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F4F4F;
    overflow: auto;
    min-height: 100%;
    cursor: url('./assets/Sprites/cursor.png'), auto;
}

html {
    height: 100%;
    overflow: auto;
}


@font-face {
    font-family: 'DefaultFont';
    src: url('./assets/Fonts/DefaultFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.intro-background {
    width: 100%;
    height: 100%;
    background: #2F4F4F;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.hidden {
    display: none !important;
}


.logo {
    position: absolute;
    background-image: url('./assets/Sprites/logo.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 362px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.twitchIcon {
    position: absolute;
    background-image: url('./assets/Sprites/twitchIcon.png');
    top: 95%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
}

.youtubeIcon {
    position: absolute;
    background-image: url('./assets/Sprites/youtubeIcon.png');
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
}

.gameLanguage {
    position: absolute;
    background-image: url('./assets/Sprites/ENG.png');
    top: 95%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
}

.gameTitle {
    position: absolute;
    background-image: url('./assets/Sprites/gameTitle.png');
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.newGame-vocab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 32px;
    background-color: #a37e18;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    transition: opacity 0.5s ease-in-out;
}

.newGame-text {
    color: rgb(116, 116, 116);
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.newGame-vocab:hover {
    background-color: #ffde4c;
}

.newGame-vocab:hover .newGame-text {
    color: white;
}


.weeks-container {
    position: absolute;
    transform: translateY(0%);
    display: grid;
    padding: 5px;
    background-color: #6c584c;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    grid-template-columns: repeat(7, 46px);
    grid-template-rows: repeat(5, 56px);
    gap: 4px;
    width: calc(8 * 36px + 7 * 4px);
    z-index: 3;
    pointer-events: none;
    user-select: none;
    image-rendering: pixelated;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.weeks-item {
    position: relative;
    width: 44px;
    height: 56px;
    background-color: #ccb99d;
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 3px;
    /* Moves text slightly left */
    text-align: right;
    box-sizing: border-box;
    image-rendering: pixelated;
    z-index: 10;
    font-family: 'DefaultFont';
    font-size: 16px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dayBorder {
    position: absolute;
    background-image: url('./assets/Sprites/dayBorder.png');
    top: 16px;
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    image-rendering: pixelated;
}

.effect-icon {
    position: absolute;
    z-index: 50;
    image-rendering: pixelated;
}


.dayDesc {
    position: absolute;
    transform: translateX(0%);
    top: 11%;
    width: 340px;
    height: 80px;
    background-color: #2b2d42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    display: flex;   /* Enables flexbox */
    flex-direction: row;  /* Align items in a row */
    align-items: top; /* Align items vertically */
    gap: 8px; /* Space between icon and text */
    image-rendering: pixelated;
}

.dayDesc canvas {
    position: relative;
    color: white;
    padding-bottom: 45px;
}


.dayDesc-name {
    position: relative;
    color: rgb(255, 208, 0);
    padding-bottom: 45px;
    font-size: 14px;
    line-height: 24px; 
}

.dayDesc-text {
    position: absolute;
    color: white;
    font-size: 14px;
    padding: 10px; /* Adds spacing inside */
    width: 90%; /* Prevents overflow */
    text-align: center; /* Centers text horizontally */
    word-wrap: break-word; /* Ensures long words wrap */
    white-space: normal; /* Allows multiple lines */
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}



.currentYear {
    position: absolute;
    top: 23.9%;
    left: 10%;
    width: 120px;
    height: 40px;
    background-color: #2b2d42;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 20px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.currentYear-text {
    color: rgb(116, 116, 116);
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.currentMonth {
    position: absolute;
    top: 23.9%;
    left: 45%;
    width: 120px;
    height: 40px;
    background-color: #2b2d42;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 20px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.calendar-text {
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.books-border {
    position: absolute;
    width: 200px;
    height: 70px;
    transform: translateX(0%);
    bottom: -1px;
    background-color: #2b2d42;
    color: #acd468;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.continue-vocab {
    position: relative;
    left: 38%;
    top: 24%;
    width: 100px;
    height: 32px;
    background-color: #614b10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    color: #7a7a7a;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.continue-text {
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}


.continue-vocab:hover {
    background-color: #ffe23b;
    color: #ffffff;
}

.continue-vocab:hover .continue-text {
    color: #ffffff;
}

.element-flash {
    animation: flashAnimation 0.2s ease-in-out;
}

@keyframes flashAnimation {
    0% {
        background-color: var(--element-color-start);
    }

    50% {
        background-color: var(--element-color-mid);
    }

    100% {
        background-color: var(--element-color-start);
    }
}

.secondary-background {
    width: 386px;
    height: 750px;
    background: #5e5cb9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.pause-background {
    width: 386px;
    height: 750px;
    background: #0000003f;
    opacity: 0.5;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
    display: none;
    pointer-events: none;
}

.gameTime {
    position: absolute;
    top: 19.5%;
    transform: translateX(0%);
    width: 100px;
    height: 60px;
    background-color: #6c584c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 20px;
    z-index: 0;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.gameTime.freeze {
    background-color: #195a79;
    color: rgb(0, 255, 242);
}


.dayCount-vocab {
    position: absolute;
    top: 10%;
    left: -1px;
    width: 100px;
    height: 60px;
    background-color: #2b2d42;
    color: rgb(0, 255, 191);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 20px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.goal-vocab {
    position: absolute;
    top: 0.9%;
    right: -1px;
    width: 100px;
    height: 60px;
    background-color: #2b2d42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.goal {
    color: gold;
    font-size: 24px;
}

.points {
    color: #acd468;
    font-size: 16px;
}

.endDay-vocab {
    position: absolute;
    top: 11%;
    right: -1.2px;
    width: 100px;
    height: 32px;
    background-color: #4d1118;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    opacity: 0.5;
    transition: opacity 0.3s ease, color 0.3s ease;
}


.endDay-text {
    color: #8d8d8d;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}


.endDay-vocab:hover {
    background-color: #a31829;
    opacity: 1.0;
}

.endDay-vocab:hover .endDay-text {
    color: gold;
}


.endayConfirmation-vocab {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background-color: #2b2d42;
    visibility: hidden;
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 2000;
    border: 1px solid black;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.endayConfirmation-yes {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 30px;
    background-color: #2b2d42;
    visibility: hidden;
    color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 2000;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.endayConfirmation-no {
    position: absolute;
    /* Fixed position relative to the viewport */
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    /* Ensures it's always centered */
    width: 80px;
    height: 30px;
    background-color: #2b2d42;
    visibility: hidden;
    /* Initially invisible but still occupies space */
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 2000;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.grid-item {
    width: 36px;
    height: 36px;
    background-color: #708090;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    /* ✅ Fix border issue */
    image-rendering: pixelated;
    z-index: 2;
}


.grid-item.selected::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: transparent;
    animation: pieces-anim 500ms infinite alternate;
}


:root {
    --default-color: #fcd600; 
}

/* Keyframe animation using the dynamic color variable */
@keyframes pieces-anim {
    0% {
        border-color: var(--default-color);
    }
    25% {
        border-color: #ffffff;
    }
    50% {
        border-color: var(--default-color);
    }
    100% {
        border-color: #ffffff;
    }
}

.grid-item.selected {
    box-shadow: 0 0 10px 2px var(--default-color); /* Use box-shadow to create a border-like effect */
    animation: pieces-anim 1s infinite; /* 1s duration, infinite loop */
    box-sizing: border-box;
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.2s ease-in-out;
}


.grid-container {
    position: absolute;
    transform: translateX(0%) translateY(0%);
    display: grid;
    padding: 5px;
    background-color: #2b2d42;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    grid-template-columns: repeat(8, 36px);
    grid-template-rows: repeat(8, 36px);
    gap: 4px;
    z-index: 2;
    width: calc(8 * 36px + 7 * 4px);
    image-rendering: pixelated;
}

.shop-vocab {
    position: absolute;
    bottom: 12%;
    transform: translateX(0%);
    width: 100px;
    height: 30px;
    background-color: #2b2d42;
    color: #acd468;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 0;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
}

.shop-border {
    position: absolute;
    bottom: 16%;
    transform: translateX(0%);
    width: auto;
    height: 100px;
    background-color: #6c584c;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border: 1px solid black;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(5, 36px);
    grid-template-rows: repeat(2, 36px);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    width: 100%;
    height: auto;
}

.shop-item {
    width: 36px;
    height: 36px;
    background-color: #708090;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    image-rendering: pixelated;
}

.shop-item.selected {
    box-shadow: 0 0 10px 2px var(--default-color); /* Use box-shadow to create a border-like effect */
    animation: pieces-anim 1s infinite; /* 1s duration, infinite loop */
    box-sizing: border-box;
}


.shop-item.selected::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: transparent;
    animation: pieces-anim 500ms infinite alternate;
}

.reroll-item {
    position: absolute;
    top: 16%;
    right: 5.5%;
    width: 34px;
    height: 67px;
    display: flex;
    image-rendering: pixelated;
    z-index: 1;
}

.money-border {
    position: absolute;
    background-image: url('./assets/Sprites/zuljaCoin.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 32px;
    top: 1.2%;
    left: -1px;
    width: 200px;
    height: 42px;
    background-color: #123d09;
    border-radius: 0 5px 5px 0;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 5;
    border: 1px solid black;
    transition: opacity 0.5s ease-out; /* Remove transition on transform */
    opacity: 0;
}


.money-sprite {
    display: flex;
    height: 38px;
    overflow: hidden;
    image-rendering: pixelated;
}

.money-sprite span {
    display: inline-block;
    width: 22px;
    height: 38px;
    align-items: left;
    background-image: url('./assets/Sprites/money_numbers.png');
    background-repeat: no-repeat;
}

.buy-button {
    display: none;
    position: absolute;
    background-image: url('./assets/Sprites/buyButton.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 2px center;
    bottom: 18%;
    right: 15.5%;
    width: 28px;
    height: 28px;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    z-index: 1;
    image-rendering: pixelated;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}


.tooltip-text {
    display: none;
    /* Start hidden by default */
    background-color: #2b2d42;
    background-image: url('./assets/Sprites/zuljaCoin.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: #acd468;
    text-align: right;
    padding: 5px;
    padding-left: 34px;
    border-radius: 10px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 10;
    border: 1px solid black;
    pointer-events: none;
    /* Disable pointer interactions */
    user-select: none;
    /* Disable text selection */
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
    transition: opacity 0.3s ease-in-out;
    /* Smooth animation */
    opacity: 0;
    /* Start invisible */
}

.tooltip-text.show {
    display: block;
    /* Show on click */
    opacity: 1;
    /* Make visible */
    user-select: none;
    /* Disable text selection */
}

.tooltip {
    position: absolute;
    background-color: #2b2d42;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'DefaultFont';
    border: 1px solid black;
    pointer-events: none;
    /* Disable pointer interactions */
    user-select: none;
    /* Disable text selection */
    transform: translateX(-50%);
    top: -40px;
    /* Adjust based on positioning */
    left: 50%;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.tooltip.show {
    opacity: 1;
}